::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

* {
    font-family: Roboto, Source Sans Pro, sans-serif, serif;
    font-size: 15px;
}

body {
    margin: 30px 30px;
}

.teko {
    font-family: 'Teko', sans-serif !important;
}

table,
th,
td {
    text-align: center;
}

td {
    padding: 0 2px;
}

table input {
    position: inherit;
    margin: auto;
    width: 35% !important;
    text-align: center;
    border: none;
}

.form-control:focus {
    border-color: #000;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25);
}

.instructions {
    margin: 10px 20px;
    padding: 35px;
}

.hide {
    display: none;
}

.preferences {
    list-style: none;
    padding: 35px;
}

#priority-toggle-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0;
    width: 75px;
    height: 23px;
}

#output {
    margin-top: 20px;
}

#gantt-chart {
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 45px;
    margin-top:  45px;
}

#timeline-chart {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;
    margin-bottom: 45px;
    margin-top: 45px;
}

@media (min-width: 400px){
    #custom-media-TCS {
        max-width: fit-content;
    }
    #custom-media-TQ {
        max-width: fit-content;
    }
}

@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.zoom {

    transition: transform .2s; /* Animation */

}

.zoom:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}











.schedule-table-process,
.schedule-table-process td {
    border: 1px solid black;
}

.schedule-table-process {
    margin-left: 6px;
}

.schedule-table-time,
.schedule-table-time td {
    text-align: left;
    border: 1px solid white;
}

#round-robin-chart-div {
    height: 40%;
    width: 80%;
}

#time-log-table-div {
    margin-top: 10vh;
    position: relative;
}

.time-log-table {
    width: 10%;
    position: absolute;
}

#remain-table {
    left: 7.5%;
}

#ready-table {
    left: 32.5%;
}

#running-table {
    right: 32.5%;
}

#block-table {
    left: 45%;
    top: 8vw;
}

#terminate-table {
    right: 7.5%;
}

.arrow {
    position: absolute;
    font-size: 100px;
}

#remain-ready {
    left: 20.5%;
    top: -62px;
}

#ready-running {
    transform: rotate(180deg);
    left: 47%;
    top: -15px;
    font-size: 80px;
}

#running-ready {
    left: 47%;
    top: -60px;
    font-size: 80px;
}

#running-terminate {
    right: 20.5%;
    top: -62px;
}

#running-block {
    transform: rotate(135deg);
    left: 52%;
    top: 20px;
}

#block-ready {
    transform: rotate(225deg);
    left: 40%;
    top: 20px;
}
